{% extends 'admin/admin_dashboard.html' %}
{% block content %}

<div class="card shadow-sm rounded">
  <!-- <div class="card-header">
    <h2>Customers Overview</h2>
  </div> -->
  <div class="card-body">
    <h3 class="mb-4 fw-bold">Customer Orders</h3>

    <!-- Search and Filter Section -->
    <!-- <div class="d-flex justify-content-between mb-4">
      <div class="d-flex w-50 gap-2">
        <input type="text" class="form-control rounded-4" placeholder="Search by email or name" id="searchField">
        <button class="btn btn-primary rounded-4 px-5">Search</button>
      </div>
      <div class="dropdown">
        <button class="btn rounded-4 px-3 btn-success dropdown-toggle" type="button" id="filterDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          Filter by Status
        </button>
        <ul class="dropdown-menu" aria-labelledby="filterDropdown">
          <li><a class="dropdown-item" href="#">All</a></li>
          <li><a class="dropdown-item" href="#">Pending</a></li>
          <li><a class="dropdown-item" href="#">Completed</a></li>
          <li><a class="dropdown-item" href="#">Shipped</a></li>
        </ul>
      </div>
    </div> -->

    <!-- Table with customer data -->
    <div class="table-responsive shadow rounded">
      <table class="table table-bordered table-hover align-middle">
        <thead class="table-dark">
          <tr>
            <th>Ordered Product</th>
            <th>Customer Details</th>
            <th>Quantity</th>
            <th>Total Price</th>
            <th>Payment Status</th>
            <th>Delivery Status</th>
            <th>Del Available User Status</th>
        </tr>
        </thead>
        <tbody>
            {% for i in cart %}
            <tr>
              <td><img src="/static/media/{{i.products.image}}" style="width: 50px; height: 50px; object-fit: cover; margin-right: 15px;" alt="{{i.products.product_name}}">{{i.products.product_name}}</td>
                <td>{{i.customer.first_name}} {{i.customer.last_name}} - {{i.customer.email}}</td>
                <td>{{i.quantity}}</td>
                <td>₹ {{i.price}}</td>
                <td>{{i.status}}</td>
                {% if i.Normal_status == 'Shipped' %}
                <td>Shipped by,<br> {{i.products.p_id.first_name}} {{i.products.p_id.last_name}}</td>
                {% else %}
                <td>{{i.Normal_status}}</td>
                {% endif %}
                {% if i.Normal_status == 'Delivered' %}
                <td></td>
                {% else %}
                <td>
                  <select class="form-control" style="width: 250px;" name="" id="">
                    <option value="">Select User</option>
                    {% for del in del %}
                    <option value="">{{del.first_name}}</option>
                    {% endfor %}
                  </select>
                  <a href="{% url 'adm_delivery_user' %}?=id = {{i.id}}" class="btn btn-primary btn-sm rounded-pill mt-2 px-4" >Assign</a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}